html { 
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --purple: hsl(287, 100%, 27.5%);
    --blue: hsl(251, 100%, 25%);
    --yellow: hsl(47, 100%, 54%);
    --border-radius: 2vh;
}
body {
    width: 100%;
    height: fit-content;
    font-family: 'Red Hat Display', sans-serif;
    color: white;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 1vw;
}
::-webkit-scrollbar-track {
    background: var(--purple);
}
::-webkit-scrollbar-thumb {
    background: var(--blue);
    border-radius: calc(var(--border-radius)/2);
    border: 0.2vw solid var(--purple);
}
::-webkit-scrollbar-thumb:hover {
    background: hsl(251, 100%, 15%);
}
.front-page {
    background: linear-gradient(180deg, var(--purple) 30%, var(--blue));

    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header {
    /* Center aligned for mobile */
    /* Some purple integrated into the font, make it an image not text */
    font-weight: 900;
    font-size: clamp(6vh, 5.5vw, 150px);
    padding: 7.5vmin 10vmin;
    text-shadow: 0px 0px 2.5vmin hsla(0, 0%, 0%, 0.25);
}
nav {
    /* Hamburger menu phone */
    height:fit-content;
    width: 100vw;

    right: 0;
    padding-block: 7.5vmin;

    /* Fix the font sizing */
    /* Different for mobile */
    font-size: clamp(2.5vh, 2vw, 3vh);

    display: flex;
    justify-content: center;
}
.menu-links {
    /* WHY CHOOSE USgoes to a 3d ? and in giant no line spacing top left no padding text bold in italic bold W with a circle like didot italic bold, Croissant One, Shrikhand */
    list-style-type: none;
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: hsla(0, 0%, 40%, 0.7);
    border-radius: var(--border-radius);
    z-index: 2;
}
a {
    /* a isn't being identified as class or child of ul above */
    color: inherit;
    text-decoration: none;
}
li {
    position: relative;
    padding: 2vmin;
    border-radius: var(--border-radius);
    margin: 1.5vh;
    transition: background .25s ease-out, color .25s ease-out, font-weight .25s ease-in;
    -webkit-transition: background .25s ease-out, color .25s ease-out, font-weight .25s ease-in;
}
li:hover {
    /* Arrows appear on hover? */
    background-color: hsla(0, 0%, 60%, 0.8);
    cursor: pointer;
    color: hsl(287, 80%, 30%);
    font-weight: 600;
}
.nav-arrows {
    /* move it down a bit somehow (transform:translate and position absolute don't work)*/
}

/* Rex Images */
.rexImgMain {
    width: 75vw;
    position: absolute;
    transform: scale(1.5) rotate(1deg);
    top: 15vh;
    right: -20%;
    z-index: 1;
    animation: rexImgMainIn 3s cubic-bezier(.42,.56,.82,1.05);
    clip-path: polygon(75% 88%, 78% 81%, 72% 78%, 77% 72%, 77% 64%, 78% 55%, 73% 50%, 68% 46%, 64% 39%, 60% 33%, 58% 25%, 54% 20%, 45% 15%, 38% 16%, 28% 18%, 23% 21%, 18% 28%, 15% 39%, 22% 46%, 29% 50%, 29% 56%, 22% 61%, 24% 70%, 29% 74%, 36% 76%, 44% 76%, 48% 74%, 52% 77%, 53% 81%, 56% 87%, 60% 89%, 68% 90%);
    filter: drop-shadow(2vmin 2vmin 1vw rgba(0, 0, 0, 0.35));
}
/* !!!Img idle animation either infinite small rotate or up and down */
@keyframes rexImgMainIn {
    from {
        top: 60vh;
        right: -100%;
    }
    to {
        top: 15vh;
        right: -20%;
    }
}
@keyframes rexImgMainWiggle {
    0% {
        transform: rotate(1deg) scale(1.5);
    }
    50% {
        transform: rotate(-1deg) scale(1.5);
    }
    100% {
        transform: rotate(1deg) scale(1.5);
    }
}
main.information {
    position: absolute;
    top: 100vh;
    /* Make width 80% to content touching not touching walls and make footer with 100% (of 80%) */
    width: 100%;
    /* change to fit-content */
    height: 100vh;
    background: linear-gradient(180deg, var(--blue), var(--purple));
    display: flex;
    justify-content: center;
}
/* Swirling yellow with shadow not glow https://www.youtube.com/watch?v=ezP4kbOvs_E */
footer {
    background-color: hsla(0, 0%, 60%, 0.8);
    position: absolute;
    bottom: 0;
    width: 90%;
    height: 20vh;
    border-radius: var(--border-radius);
    margin-block: 7.5vh;
}
/* Animations of text from left to right (header) and fade in
rex from bottom right corner
custom scrollbar
information in alternating sliding from left and right white border images with text
 */